html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.isles-bg-yellow {
    background-color: #EDEA3B;
}

.isles-bg-green {
    background-color: #3DB34B;
}

.isles-bg-green:hover {
    background-color: #27a849;
}

.isles-bg-blue {
    background-color: #0F76BA;
}

.homepage-photo {
    max-width: 90%;
}