
@{
    ViewData["Title"] = "FHE";
}

<h1>Family Home Evening</h1>

<p>Family Home Evening is held weekly on Mondays at 7:00pm at the Isles.</p>
<p>On the Xth week of every month, FHE will be hosted at the homes of the bishopric.</p>