@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Provo YSA 10th Ward!</h1>
    <img class="homepage-photo" src="~/img/theislesphoto.jpg" />
    <br /><br>
    <p><a class="btn isles-bg-green" href="https://docs.google.com/forms/d/e/1FAIpQLSeeO47myV50qU9OMaaSkZSWWX_jCV8Vx0saVjt9EGuF-RVOZg/viewform">Welcome Survey</a></p>
    <p><a class="btn isles-bg-green" href="https://docs.google.com/document/d/1-Nhg1OMjrzC9Js-OMaecbLIplFRqzkGIML4AWjTo5Rc/view#heading=h.t9xopsqhq7qe">Ward Calendar</a></p>
    <p><a class="btn isles-bg-green" href="https://docs.google.com/document/d/1NjOIlnX2ahPkcv5-0wdi2v7OER4ZuHpOu7d5px7esVw/view">Sacrament Meeting Program</a></p>
</div>
