@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Provo YSA 10th Ward!</h1>
    <img class="homepage-media" src="~/img/theislesphoto.jpg" />
    <br /><br>
    <p>New members should text @@pysa10th to 81010 to receive text updates about ward news, activities, and events.</p>
    <div class="my-3 large-container">
        <a class="btn my-1 isles-bg-green text-light" href="https://docs.google.com/forms/d/e/1FAIpQLSeeO47myV50qU9OMaaSkZSWWX_jCV8Vx0saVjt9EGuF-RVOZg/viewform" target="_blank">Welcome Survey</a>
        <a class="btn my-1 isles-bg-green text-light" href="https://docs.google.com/document/d/1-Nhg1OMjrzC9Js-OMaecbLIplFRqzkGIML4AWjTo5Rc/view#heading=h.t9xopsqhq7qe" target="_blank">Ward Calendar</a>
        <a class="btn my-1 isles-bg-green text-light" href="https://docs.google.com/document/d/1NjOIlnX2ahPkcv5-0wdi2v7OER4ZuHpOu7d5px7esVw/view" target="_blank">Sacrament Meeting Program</a>
    </div>
    <div class="small-container my-3 mx-4">
        <a class="btn my-1 isles-bg-green text-light d-grid" href="https://docs.google.com/forms/d/e/1FAIpQLSeeO47myV50qU9OMaaSkZSWWX_jCV8Vx0saVjt9EGuF-RVOZg/viewform" target="_blank">Welcome Survey</a>
        <a class="btn my-1 isles-bg-green text-light d-grid" href="https://docs.google.com/document/d/1-Nhg1OMjrzC9Js-OMaecbLIplFRqzkGIML4AWjTo5Rc/view#heading=h.t9xopsqhq7qe" target="_blank">Ward Calendar</a>
        <a class="btn my-1 isles-bg-green text-light d-grid" href="https://docs.google.com/document/d/1NjOIlnX2ahPkcv5-0wdi2v7OER4ZuHpOu7d5px7esVw/view" target="_blank">Sacrament Meeting Program</a>
    </div>
    <iframe class="homepage-media large-container" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%230f76ba&ctz=America%2FDenver&title=Provo%20YSA%2010th%20Ward%20(sample%20calendar)&showNav=1&showDate=1&showPrint=1&showTabs=1&showCalendars=1&showTz=1&src=ZTIwMWZkZTk0ODk4ZjRlNWRmOGMwYzZlNjZjODM2NTBhYjQ0MDgwMzRkYTQyZjU3MmNkNmI5ZTc5NDc2YmM4ZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%237986CB&color=%23F6BF26" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <iframe class="homepage-media small-container" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%230f76ba&ctz=America%2FDenver&title=Provo%20YSA%2010th%20Ward%20(sample%20calendar)&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=1&showTz=1&mode=AGENDA&src=ZTIwMWZkZTk0ODk4ZjRlNWRmOGMwYzZlNjZjODM2NTBhYjQ0MDgwMzRkYTQyZjU3MmNkNmI5ZTc5NDc2YmM4ZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%237986CB&color=%23F6BF26" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
